/* Styling for the Love Calculator */

/* Box Sizing Reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* End Box Sizing Reset */

body {
    background-color: darkred;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

h1 {
    font-family: "Great Vibes", serif;
    font-weight: lighter;
    font-size: 5em;
    padding: 0px;
    margin: 0px;
    text-shadow: 0 0 3vw white;
}

h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.3em;
}

footer {
    bottom: 0;
    position: fixed;
}

/* Form Styling */
.main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-container svg {
    /* positioning */
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    /* sizing */
    width: auto;
    height: 20px;
    /* fill */
    fill: lightgrey;
    opacity: 0.8;

}

input {
    padding: 10px 10px 10px 50px;
    border: none;
    border-radius: 5px;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

input.submit {
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}
input.submit:hover {
    background-color: grey;
    color: white;
    transition-duration: 0.4s;
}